:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --spacial-grey: #A6A6A6;

  --opensans-and-alt: "OpenSans", Arial, sans-serif;
  --opensans-light-and-alt: "OpenSans Light", Arial, sans-serif;
  --gilroy-light-and-alt: "Gilroy Light", Arial, sans-serif;
  --gilroy-extra-bold-and-alt: "Gilroy Extra Bold", Arial, sans-serif;
}
/* --- Fonts --- */

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* --- Common --- */

body {
  min-width: 1180px;
  margin: 0;
  padding: 0;
  font-family: var(--opensans-light-and-alt);
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button-common {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: var(--special-yellow-dark);
  border: none;
}




/* --- Header --- */

.main-header {
  background-color: var(--special-yellow)
}

/* Search*/
.input-search {
  background-color: var(--special-yellow);
}

.button-search {
  font-family: inherit;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--special-yellow);
}

.button-search:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

 /* Изменение текста внутри кнопки при нажатии.
 Можно сделать по-другому?*/
.button-search:active > span{
  background-color: var(--basic-black);
  color: var(--basic-white);
  opacity: 0.3;
}

/*Navigation */

.site-menu,
.site-menu-inner {
  list-style: none;
}

.site-menu-item {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.site-menu-inner-item {
  font-family: var(--opensans-light-and-alt);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: capitalize;
}

.main-header-logo:hover,
.site-menu a:hover,
.header-product-actions a:hover,
.header-user-menu a:hover {
  opacity: 0.6;
}

.main-header-logo:active,
.site-menu a:active,
.header-product-actions a:active,
.header-user-menu a:active {
  opacity: 0.3;
}

/* --- Main index--- */

.info-wrapper h2 {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 4px;
}

.advantages {
  list-style: none;
}

.advantages li {
  font-size: inherit;
  line-height: 28px;
}

.company-list {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 16px;
  font-weight: 800;
}

.contacts {
  font-size: inherit;
  line-height: 28px;
}

/* --- Main catalog --- */

.page-title {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 47px;
  line-height: 58px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

/*Filter*/
.filters {
  background-color: var(--basic-grey-light);
}
.sieve-header {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.filter legend {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
}

.filter ul {
  list-style: none;
  line-height: 19px;
}
.color-item,
.choice-item {
  font-size: 14px;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  cursor: default;
  color: var(--spacial-grey);
}
/*Catalog*/

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-family: var(--gilroy-extra-bold-and-alt);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.catalog-item-price {
  font-family: var(--gilroy-light-and-alt);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
}

.button-compare {
  font-family: var(--opensans-light-and-alt);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  border: none;
  background-color: var(--basic-white);
  opacity: 0.5;
  border: none;
}

.button-compare:hover {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}


/* --- Footer --- */

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white)
}

.main-footer a {
  color: inherit;
}

.main-footer-logo:hover,
.html-academy-link:hover {
  opacity: 0.6;
}

.main-footer-logo:active,
.html-academy-link:active {
  opacity: 0.3;
}

.stub-link,
.stub-link:hover,
.stub-link:active {
  opacity: 1;
}

.footer-user-menu a {
  opacity: 0.7;
}

.footer-user-menu a:hover {
  opacity: 1;
}

.footer-user-menu a:active {
  opacity: 0.3;
}

.footer-product-actions a {
  opacity: 0.7;
}

.footer-product-actions a:hover {
  opacity: 1;
}

.footer-product-actions a:active {
  opacity: 0.3;
}

.footer-social ul {
  list-style: none;
}

.social-item a {
  opacity: 0.3;
}

.social-item a:hover {
  opacity: 0.6;
}

.social-item a:active {
  opacity: 0.1;
}





.modal {
  display: none;
}
