:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-white: #ffffff;
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-light-rgb: 229, 229, 229;

  --special-yellow: #F7E296;
  --special-green: #91C92F;
  --special-yellow-dark: #F0C52E;
  --spacial-grey: #A6A6A6;
  --spacial-grey-middle: #DCDCDC ;
  --special-grey-f2: #F2F2F2;
  --special-grey-ae: #EAEAEA;
  --special-red: #F6DADA;
  --cpecial-shadow-rgb: 4, 6, 6;

  --base-f: "OpenSans", Arial, sans-serif;
  --base-light-f: "OpenSans Light", Arial, sans-serif;
  --secondary-light-f: "Gilroy Light", Arial, sans-serif;
  --secondary-extra-bold-f: "Gilroy Extra Bold", Arial, sans-serif;
}
/* --- Fonts --- */

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/* --- Common --- */

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  min-width: 1180px;
  font-family: var(--base-light-f);
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-common {
  font-family: var(--secondary-extra-bold-f);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  position: relative;

  z-index: 1;
}

.button-common::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
  z-index: -1;
  transition: all .3s linear;
}

.button-common:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-common:focus::before,
.button-common:hover::before {
   top: -8px;
   height: 40px;
   z-index: -1;
}
/* --- Header --- */

.container {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  min-height: 186px;
  position: relative;
  background-color: var(--special-yellow);
  padding: 0 60px;
  margin-top: 40px;
}

.header__logo {
   position: relative;
   top: -20px;
}

.header-links-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* Search*/

.search-form {
  display: flex;
  position: relative;
  width: 440px;
  margin-right: 100px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 14px;
  height: 14px;
  background: url("../img/search.svg") no-repeat;
}

.input-search {
  flex-grow: 1;
  font-size: 15px;
  line-height: 20px;
  background-color: transparent;
  border: 2px solid transparent;
  border-right: none;
  opacity: 0.3;
  padding-left: 40px;
  padding-right: 0;
  margin-right: 0;
}

.input-search:hover {
  opacity: 0.6;
}

.input-search:focus {
  border-bottom-color: var(--basic-black);
}

.button-search {
  padding: 15px 17px;
  font-family: inherit;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--special-yellow);
  opacity: 0;
}

.input-search:focus+.button-search {
  opacity: 1;
  pointer-events: auto;
}

.button-search:hover {
  background-color: var(--basic-black);
  color: var(--basic-white);
  opacity: 1;

}

.button-search:active {
  background-color: var(--basic-black);
  color: var(--basic-white);
  opacity: 1;

}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu__link_header {
  margin-right: 20px;
}

.user-menu__link_login::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 11px;
}

.login_header::before {
  background: url("../img/user.svg") no-repeat;
}

.logout-header {
  opacity: 0.3;
}

.logout-header:hover {
  opacity: 0.7;
}
.header__product-actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.product-actions__link {
  margin-left: 39px;
}

.product-actions__link_compare::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 11px;
}

.compare_header::before {
  background: url("../img/compare.svg") no-repeat;
}

.product-actions__link_cart::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 11px;
}

.cart_header::before {
  background: url("../img/cart.svg") no-repeat;
}

/*Navigation */

.site-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.header__catalog-item {
  width: 540px;
}

.header__delivery-link {
  margin-right: 38px;

}
.header__warranty-link {
  margin-right: 100px;
}

.site-menu__button {
  background-color: inherit;
  border: none;
  opacity: 0.3;
}

.site-menu__item {
  font-family: var(--secondary-extra-bold-f);
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-right: -4px;
}


.submenu {
  display: none;
  padding: 30px 60px 26px;
  list-style: none;
}

.submenu__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 61px;
}

.submenu__item {
  font-family: var(--base-light-f);
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: lowercase;
}

.submenu__link::first-letter {
  text-transform: capitalize;
}

.submenu__link {
  margin-bottom: 20px;
}

.site-menu__item_submenu::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 4px;
  vertical-align: middle;
  margin-left: 11px;
  opacity: 0.3;
  background: url("../img/plus.svg") no-repeat;
}

.header__catalog-item:hover .submenu {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: var(--special-yellow);
}

.logo_interactive:hover,
.site-menu__link:hover,
.submenu__link:hover,
.user-menu__link_header:hover,
.product-actions__link:hover{
  opacity: 0.6;
}

.logo_interactive:active,
.site-menu__link:active,
.submenu__link:active,
.user-menu__link_header:active,
.product-actions__link:active{
  opacity: 0.3;
}

/* --- Main index--- */

.info-wrapper {
  margin-bottom: 86px;
}
.about-us {
  width: 500px;
  position: relative;
  padding-bottom: 130px;
}

.info-header {
  font-family: var(--secondary-extra-bold-f);
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  margin: 50px 0;
}

.about-us::before,
.contacts::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: var(--basic-black);
  width: 80px;
  height: 7px;
}

.advantages {
  padding: 0;
  list-style: none;
}

.advantages__item {
  font-size: inherit;
  line-height: 28px;
  margin-bottom: 40px;
}

.company-list {
  font-family: var(--secondary-extra-bold-f);
  font-size: 16px;
  font-weight: 800;
  list-style: none;
  padding: 0;
  margin-top: 60px;
}

.company-list__item:not(:last-child) {
  margin-bottom: 20px;
}

.company-list__item::before {
  content: "";
  top: 17px;
  left: -32px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid var(--basic-grey-light);
  margin-right: 24px;
}

.about-us__button {
  position: absolute;
  margin-top: 85px;
  left: 0;
  bottom: 0;
  width: 260px;
}

.contacts {
  position: relative;
  width: 560px;
  font-size: inherit;
  line-height: 28px;
  padding-bottom: 60px;
}

/* --- Main catalog --- */

.page-title {
  font-family: var(--secondary-extra-bold-f);
  font-size: 47px;
  line-height: 58px;
  padding-left: 60px;
}


.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  padding-left: 60px;
  margin-bottom: 50px;
}

.breadcrumbs__item {
  font-size: 14px;
  line-height: 19px;
  margin-right: 40px;
  position: relative;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";
  position: absolute;
  display: inline-block;
  margin-left: 17px;
  top: 7px;
  width: 10px;
  height: 10px;
  background: url("../img/nav-arrow.svg") no-repeat;
}

.breadcrumbs__link {
  opacity: 0.3;
}

.breadcrumbs__link:hover {
  opacity: 0.6;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/*Filter*/

.filters {
  width: 328px;
  background-color: var(--basic-grey-light);
  position: relative;
}

.filters::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: var(--basic-grey-light);
    right: 0;
    z-index: -1;
}

.filter {
  position: relative;
  padding-left: 60px;
  margin-top: 70px;
}

.filter-title__wrapper {
  background-color: var(--spacial-grey-middle);
  padding-left: 60px;
  position: relative;
}

.filter-title__wrapper::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--spacial-grey-middle);
  right: 0;
  z-index: -1;
}

.filter-title {
  font-family: var(--secondary-extra-bold-f);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
}

.filter__fieldset {
  border: none;
  padding: 0 0 37px 0;
}

.filter__legend {
  font-family: var(--secondary-extra-bold-f);
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  position: relative;
  padding-top: 16px;
}

.filter__legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 201px;
  height: 2px;
  background-color: #000;
}

.filter__option-list {
  list-style: none;

  margin: 30px 0 0 0;
  padding: 0;

  font-size: 14px;
  line-height: 19px;
}

.filter__item {
  margin-bottom: 15px;
}

.filter__label {
  position: relative;
}

.filter__label::before {
  content: "";
  display: inline-block;

  height: 25px;
  width: 26px;

  margin-right: 18px;
  vertical-align: middle;

}

.filter__checkbox:not(:active):not(checked) + .filter__label::before {
  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter__checkbox:not(:active):checked + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__checkbox:active:not(:checked) + .filter__label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
  opacity: 1;
}

.filter__checkbox:active:checked + .filter__label::before {
  background: url("../img/checkbox-off.svg") no-repeat;
  opacity: 1;
}

.filter__checkbox + .filter__label:hover::before,
.filter__checkbox:focus + .filter__label::before,
.filter__radio + .filter__label:hover::before,
.filter__radio:focus + .filter__label::before {
  opacity: 0.6;
}

.filter__checkbox:disabled + .filter__label::before,
.filter__checkbox:disabled:active + .filter__label::before,
.filter__radio:disabled + .filter__label::before,
.filter__radio:disabled:active + .filter__label::before{
    opacity: 0.25;
}

.filter__checkbox:disabled+.filter__label,
.filter__radio:disabled+.filter__label {
  color: var(--spacial-grey);
}

.filter__checkbox:disabled:checked+.filter__label::before {
   background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__checkbox:disabled:not(:checked)+.filter__label::before {
   background: url("../img/checkbox-off.svg") no-repeat;
}

.filter__radio:not(:active):not(checked) + .filter__label::before {
  background: url("../img/radio-off.svg") no-repeat;
}

.filter__radio:not(:active):checked + .filter__label::before {
  background: url("../img/radio-on.svg") no-repeat;
}

.filter__radio:active:not(:checked) + .filter__label::before {
  background: url("../img/radio-on.svg") no-repeat;
  opacity: 1;
}

.filter__radio:active:checked + .filter__label::before {
  background: url("../img/radio-off.svg") no-repeat;
  opacity: 1;
}

.filter__radio:disabled:checked+.filter__label::before {
   background: url("../img/radio-on.svg") no-repeat;
}

.filter__radio:disabled:not(:checked)+.filter__label::before {
   background: url("../img/radio-off.svg") no-repeat;
}

.button-show {
  width: 200px;
}

/*Catalog*/
.catalog-wrapper {
  display: flex;
}

.sort {
  background-color: var(--basic-grey-light);
  position: relative;
}

.sort::after {
  content: "";
  position: absolute;
  width: 100vw;
  min-height: 70px;
  background-color: var(--basic-grey-light);
  z-index: -1;
}

.filter-title_sort {
  margin-left: 72px;
}

.sort-options {
  list-style: none;
  padding: 0;
}

.sort-direction {
  list-style: none;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;
  margin: 70px 0 0 72px;
  list-style: none;
}

.product-list .product__item:nth-child(2n) {
  margin-right: 0;
}

.product-list .product__item:nth-last-child(1),
.product-list .product__item:nth-last-child(2) {
  margin-bottom: 0;
}


.product__item {
  width: 360px;
  margin-bottom: 48px;
  position: relative;
}

.product__item:hover .product__actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__item.product__item_new::before {
   content: "";
   position: absolute;
   top: 24px;
   right: 24px;
   width: 61px;
   height: 61px;
   border: 2px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
}

.product__item.product__item_new::after {
   content: "New";
   position: absolute;
   top: 47px;
   right: 40px;
   font-family: var(--secondary-extra-bold-f);
   font-size: 12px;
   line-height: 15px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: rgba(0, 0, 0, 0.2);
}

.product__button_cart {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product__header {
  font-family: var(--secondary-extra-bold-f);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0 5px 0 0;
  flex-grow: 0;
}

.product__header::first-letter {
  text-transform: capitalize;
}

.product__actions {
  display: none;
  position: absolute;
  width: 100%;
  height: 380px;
  z-index: 1;
  background-color: rgba(var(--basic-grey-light-rgb), 0.7);
}

.product__description {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 30px;
}

.product__price {
  font-family: var(--secondary-light-f);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  flex-shrink: 0;
  min-width: 80px;
}

.product__button_compare {
  font-family: var(--base-light-f);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: transparent;
  opacity: 0.5;
  border: none;
}

.product__button_compare:hover {
  opacity: 1;
}

.product__button_compare:active {
  opacity: 0.2;
}


/* --- Footer --- */

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-wrapper-top {
  margin-top: 40px;
}

.footer__logo {
  margin-top: 18px;
  align-self: flex-end;
}

.login_footer::before {
  background:  url("../img/user-footer.svg") no-repeat;
}


.compare_footer:before {
  background:  url("../img/compare-footer.svg") no-repeat;
}

.cart_footer:before {
  background:  url("../img/cart -footer.svg") no-repeat;
}

.user-menu__link_logout {
  margin-left: 24px;
}

/*.footer-links-wrapper {*/
  /*outline: 5px solid rgba(255, 255, 0, 0.3);*/
  /*outline-offset: -5px;*/
/*}*/

.footer-wrapper-middle {
  align-items: baseline;
  margin-top: 40px;

  position: relative;
}

.address {
  font-style: inherit;
}

.footer__site-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /*Exactly center*/
  /*или же сделать элементы по краям одного размера и отцентровать*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
}

.site-menu__item_footer {
  margin: 0 18px;
}

.footer-wrapper-bottom {
  align-items: center;
  margin-top: 67px;
  margin-bottom: 65px;

  position: relative;
}

.footer-wrapper__decoration {
  background-color: var(--special-yellow-dark);
  width: 80px;
  height: 7px;
  vertical-align: middle;
}

.main-footer {
  background-color: var(--basic-dark);
  color: var(--basic-white);
}


.social__item_interactive:hover,
.html-academy:hover {
  opacity: 0.6;
}

.social__item_interactive:active {
  opacity: 0.1;
}

.user-menu__link_footer,
.product-actions__link_footer {
  opacity: 0.7;
}

.product-actions__link_footer:hover,
.user-menu__link_footer:hover {
  opacity: 1;
}

.social__item_interactive,
.html-academy_interactive:active,
.product-actions__link_footer:active,
.user-menu__link_footer:active {
  opacity: 0.3;
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  /*Exactly center*/
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
}

.social__item {
  margin: 0 10px;
}

 /*Modal contact*/

.modal-contact,
.modal-map {
  width: 960px;
  height: 550px;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--basic-white);
  z-index: 9999;

  box-shadow: 0px 10px 20px 0 rgba(var(--cpecial-shadow-rgb), 0.2);
}

.modal-contact {
  display: none;
}


.contact-form {
  /*display: none;*/
  width: 760px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  margin: 92px auto 69px;
  gap: 32px 40px;
}

.contact-form__name,
.contact-form__email,
.contact-form__message {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.name,
.email,
.message {
  font-family: var(--base-f);
  font-size: 14px;
  line-height: 19px;
  opacity: 0.4;
  padding: 16px  20px;
  background-color: var(--special-grey-f2);
  border: 3px solid transparent;
}
.message {
  height: 167px;
  resize: none;
}

.name:hover,
.email:hover,
.message:hover {
  background-color: var(--special-grey-ae);

}

.name:focus,
.email:focus,
.message:focus {
  border: 3px solid var(--special-yellow);
  background-color: transparent;
  outline: none;
  opacity: 1;
}

.name:invalid,
.email:invalid {
  background-color: var(--special-red);
  border: 3px solid transparent;
}

.contact-form__name {
  grid-column: 1 / 2;
}

.contact-form__email {
 grid-column: 2 / -1;
}

.contact-form__message {
  grid-column: 1 / -1;
}

.modal-contact__close {
  position: absolute;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;

  top: 20px;
  right: 20px;

  opacity: 0.5;
}

.modal-contact__close:hover,
.modal-contact__close:focus {
  opacity: 1;
}

.modal-contact__close:active {
  opacity: 0.3;
}

.modal-contact__label {
  font-family: var(--secondary-extra-bold-f);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
}

.modal-contact__submit {
  width: 200px;
  margin-top: 24px;
}

 /*Modal map*/

 /*TODO make map alive*/
.modal-map {
  display: none;
}


